.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex-direction: column;
    margin-top: 14%;
}

.noConnection{
    font-family: SF Pro Text;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.longText{
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}