.container{
    background: linear-gradient(
        180.31deg,
        #443F3F 1%,
        #0E0707 99.83%
      );

      /* background: linear-gradient(105.96deg, #FFC26B -6.45%, #FF8D8E 109.09%); */
      background-attachment: fixed;
    height: auto;
}