@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.desc{
    width: 700px;
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.025em;

    color: #000000;
}

.text{
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: 0.025em;

    color: #000000;

}


