.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 38px;
}

.img{
    margin-left: 32px;
}

.userProfile{
    margin-right: 32px;
}

.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;

    color: #000000;
}

.userDetail{
   margin-bottom: 24px;
}

.secondFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-right: 12px;
}

@media only screen and (min-width: 768px){
    .secondFlex{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .container{
        display: none;
    }
    .img{
        height: 100px;
        width: 90px;
    }
}