
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@700&display=swap');

.container{
    padding-top: 1rem;
    margin-left: 106px;
   display: flex;
   align-items: center;
   /* gap: 124px; */
   gap: 170px;
   
}


.text{
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 106px;
    letter-spacing: -0.015em;
}

.btn{
    background: #DA2D2D;
    border-radius: 94px;
    font-family: 'Baloo Da 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 59px;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 60px;
    color: #000000;
    border: none;
}

.img{
    margin-left: 12px;
}


.slider{
    width:508px;
    height: 374px;
    /* border-radius: 8px; */
}

.longtext{
    margin-top: 40px;
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
    width: 512px;

    color: #000000;
}

.outermost{
    background: rgba(255, 205, 27, 0.26);
    border-radius: 24px;
    padding-top: 42px;
    width: 500px;
    height: 373.95px;
    position: relative;
    padding-left: 36px;
}

.innermost{
    background: rgba(255, 205, 27, 0.85);
    width: 450px;
    border-radius: 24px;
    padding-left: 78px;
    padding-top: 40px;
    position: absolute;
    z-index: 1;
    height: 360px;
}