
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.container{
    padding-top: 1rem;
    margin-left: 106px;
   display: flex;
   align-items: center;
   /* gap: 124px; */
   gap: 170px;
   
}


.text{
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 106px;
    letter-spacing: -0.015em;
}

.btn{
    background: rgba(155, 81, 81, 0.66);
    border-radius: 13px;
    border: none;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 36px;
}

.img{
    margin-left: 12px;
}


.slider{
    width:500px;
    height: 500px;
    /* border-radius: 8px; */
}

.longtext{
    margin-top: 40px;
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
    width: 512px;

    color: #000000;
}